.site-wrapper {
  width: 100%;
  height: 100%;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.flex-grid .col {
  width: 12.5%;
  flex: 1;
  margin: 0 10px 0 10px;
}

.flex-grid .col-main {
  width: 75%;
}

@media screen and (max-width: 530px) {
  .flex-grid {
    display: block;
  }
  .flex-grid .col {
    width: 100%;
    margin: 0 10px 5px 10px;
  }
  .flex-grid .col-main {
    width: 100%;
    margin: 0 10px 5px 10px;
  }
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25em;
  padding: 14px 16px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.active {
  background-color: rgba(0, 0 ,0, 0.25)
}

.nav-item {
  padding: 14px 16px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  background-color: #343a40;
  min-height: 50px;
  position: relative;
  z-index: 500;
}

@media screen and (max-width: 740px) {
  .nav-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-link {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 550px) {
  .nav-item {
    padding: 14px 4px;
  }
  .nav-link {
    padding: 14px 4px;
  }
}

@media screen and (max-width: 440px) {
  .nav-item {
    padding: 14px 2px;
  }
  .nav-link {
    padding: 14px 2px;
  }
}

@media screen and (max-width: 330px) {
  .nav-item {
    padding: 10px 2px;
  }
  .nav-link {
    padding: 14px 2px;
    font-size: 0.5em;
  }
  .nav-list {
    min-height: 30px;
  }
}
