.background-img {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/contact-bkgrd.jpg);
  background-size: cover;
  height: 75vh;
  background-position: center;
}

.name {
  font-size: 1em;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.flex-grid-thirds .col-third {
  width: 32%;
  flex: 1;
  margin: 0 10px 0 10px;
}

@media screen and (max-width: 530px) {
  .flex-grid-thirds {
    display: block;
  }
  .flex-grid-thirds .col-third {
    width: 100%;
    margin: 20px 10px 20px 10px;
  }
}
