:root {
  --un-blue: #5B92E5;
}

h5 {
  margin: 0;
}

body {
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.site-wrapper {
  width: 100%;
  min-height: 100%;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
      url(../img/unga.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  background-attachment: fixed;
}

.site-wrapper-inner {
  display: flex;
  position: relative;
  text-align: center;
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.mid-text {
  vertical-align: middle;
  display: block;
  margin-top: 250px;
  font-size: 3rem;
}
@media screen and (max-width: 640px) {
  .mid-text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 420px) {
  .mid-text {
    font-size: 1rem;
  }
}

.mid-text {
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 0;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.mid-text > h1 {
  margin-bottom: 0;
}



.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media screen and (max-width: 920px) {
  .nav-list {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .nav-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

.nav-item {
  list-style-type: none;
  margin: 1.6%;
}

.nav-link {
  color: rgba(255, 255, 255, 1);
}

.nav-link:hover {
  color: white;
  border-bottom: 2px solid var(--un-blue);
  transform: border-bottom transition 2s;
}

.active {
  color: white;
  border-bottom: 2px solid var(--un-blue);
}

.nav-link {
  text-decoration: none;
}
