.resource-list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #5b72dc;
}
.link:hover {
  font-weight: bold;
}
.link:active {

}

.link:visited {
  color: #5b72dc;
}

.link-item {
  font-size: 20px;
  cursor: default;
  padding: inherit;
}
